{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <hr />
    <a href="{{ path('app_home') }}">Connexion</a>
{% endblock %}
